<div class="products_body center">
         <div class="wrapper">
             <div class="container">
                 <img class="top" src="assets/img/nfts/1.png" alt="">
                 <div class="bottom">
                     <div class="left">
                         <div class="details2">
                            <h2 class="txt_products">SERIE ORO</h2>
                            <!--<p>Sub Name</p>-->
                         </div>
                         {{!-- <div class="buy">
                             <a href="#">
                                 <i class="fas fa-cart-plus"></i>
                             </a>
                         </div> --}}
                     </div>
                 </div>
             </div>
             <div class="inside">
                 <div class="icon">
                     <i class="far fa-eye"></i>
                 </div>
                 <div class="contents">
                     <h1>SERIE ORO</h1>
                     <p>Los primeros seguidores que completen la serie oro compuesta por 20 NFTs obtendrán uno de los únicos 5 "Token Experiencia". <br><br><br><br> * Detalle de la promoción en <a href="#">Terminos y Condiciones</a></p>
                 </div>
             </div>
        </div>

        <div class="wrapper">
            <div class="container">
                <img class="top" src="assets/img/nfts/22.png" alt="">
                <div class="bottom">
                    <div class="left">
                        <div class="details2">
                            <h2 class="txt_products">SERIE PLATA</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inside">
                <div class="icon">
                    <i class="far fa-eye"></i>
                </div>
                <div class="contents">
                    <h1>SERIE PLATA</h1>
                    <p>Los primeros seguidores que completen la serie plata compuesta por 20 NFTs obtendrán uno de los únicos 20 "Token Ticket". <br><br><br><br> * Detalle de la promoción en <a href="#">Terminos y Condiciones</a></p>
                </div>
            </div>
       </div>

       <div class="wrapper">
        <div class="container">
            <img class="top" src="assets/img/nfts/43.png" alt="">
            <div class="bottom">
                <div class="left">
                    <div class="details2">
                        <h2 class="txt_products">SERIE BRONCE</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="inside">
            <div class="icon">
                <i class="far fa-eye"></i>
            </div>
            <div class="contents">
                <h1>SERIE BRONCE</h1>
                    <p>Los primeros seguidores que completen la serie bronce compuesta por 20 NFTs obtendrán uno de los únicos 20 "Fan Token". <br><br><br><br> * Detalle de la promoción en <a href="#">Terminos y Condiciones</a></p>
            </div>
        </div>
   </div>

   <div class="wrapper">
    <div class="container">
        <img class="top" src="assets/img/nfts/999.png" alt="">
        <div class="bottom">
            <div class="left">
                <div class="details2">
                     <h2 class="txt_products">Token Experiencia</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon">
            <i class="far fa-eye"></i>
        </div>
        <div class="contents">
            <h1>Token Experiencia</h1>
            <p>Los propietarios de este Utility Token tendrán derecho a experiencias únicas como acceso a charlas, cursos, visitas guiadas, desbloqueo de contenido exclusivo...<br>El club avisará a través de sus redes cuando poder usar estos NFTs<br><br>* Solo existen 5</p>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <img class="top" src="assets/img/nfts/888.png" alt="">
        <div class="bottom">
            <div class="left">
                <div class="details2">
                    <h2 class="txt_products">Token Ticket</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon">
            <i class="far fa-eye"></i>
        </div>
        <div class="contents">
            <h1>Token Ticket</h1>
            <p>Los propietarios de este Utility Token tendrán derecho a entradas de partidos. <br>El club avisará a través de sus redes cuando poder usar estos NFTs<br><br>* Solo existen 20</p>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <img class="top" src="assets/img/nfts/777.png" alt="">
        <div class="bottom">
            <div class="left">
                <div class="details2">
                    <h2 class="txt_products">Fan Token</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="inside">
        <div class="icon">
            <i class="far fa-eye"></i>
        </div>
        <div class="contents">
            <h1>Fan Token</h1>
            <p>Los propietarios de este Utility Token tendrán derecho a descuentos, camisetas, gorras, bufandas, acceso prioritario a futuros proyectos...<br>El club avisará a través de sus redes cuando poder usar estos NFTs.<br><br>* Solo existen 20</p>
        </div>
    </div>
</div>
</div>