<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionSile">
                    <div class="project-category text-white-50">Oro</div>
                    <div class="project-name">bienn</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionSile">
                    <div class="project-category text-white-50">Oro</div>
                    <div class="project-name">bienn</div>
                  </div>
                </div>
            </div>
            {{!-- Bloque original, tiene transaccion al pasar el raton 
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/imagen4.png" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div> --}}
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="portfolio-box">
                  <img class="img-fluid" src="assets/img/portfolio/thumbnails/imagen4.png"/>
                  <div class="portfolio-box-captionNole">
                    <div class="project-category text-white-50">Serie Oro</div>
                    <div class="project-name">Opsss!!</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>