  <!-- Footer-->
  <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          Copyright &copy; Your Website 2022
          <p class="float-right">
            <!--<a href="#">Back</a>-->
            <a target="_blank" href="https://mumbai.polygonscan.com/address/0x93F54f5a2CB24720F50603c83056aab13a73f3B2">Address contract</a>
             &middot; <a href="#">Terminos y condiciones</a>
             &middot; <a target="_blank" href="https://t.me/rormeno75">Contacto</a>
          </p>
        </div>
      </div>
  </footer>
  