<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="products_body center2">
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/41.png" title="Rodrigo">
                    <img class="img-fluid" src="assets/img/nfts/41.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Rodrigo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/42.png" title="Chema">
                    <img class="img-fluid" src="assets/img/nfts/42.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Chema</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/43.png" title="Sergio">
                    <img class="img-fluid" src="assets/img/nfts/43.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Sergio</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/44.png" title="Jaime">
                    <img class="img-fluid" src="assets/img/nfts/44.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Jaime</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/45.png" title="Diego">
                    <img class="img-fluid" src="assets/img/nfts/45.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Diego</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/46.png" title="Marcelo">
                    <img class="img-fluid" src="assets/img/nfts/46.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Marcelo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/47.png" title="Alberto">
                    <img class="img-fluid" src="assets/img/nfts/47.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Alberto</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/48.png" title="Pepo">
                    <img class="img-fluid" src="assets/img/nfts/48.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Pepo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/49.png" title="Miguel">
                    <img class="img-fluid" src="assets/img/nfts/49.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Miguel</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/50.png" title="Carlos">
                    <img class="img-fluid" src="assets/img/nfts/50.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Carlos</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/51.png" title="Rodrigo">
                    <img class="img-fluid" src="assets/img/nfts/51.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Rodrigo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/52.png" title="Chema">
                    <img class="img-fluid" src="assets/img/nfts/52.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Chema</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/53.png" title="Sergio">
                    <img class="img-fluid" src="assets/img/nfts/53.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Sergio</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/54.png" title="Jaime">
                    <img class="img-fluid" src="assets/img/nfts/54.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Jaime</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/55.png" title="Diego">
                    <img class="img-fluid" src="assets/img/nfts/55.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Diego</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/56.png" title="Marcelo">
                    <img class="img-fluid" src="assets/img/nfts/56.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Marcelo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/57.png" title="Alberto">
                    <img class="img-fluid" src="assets/img/nfts/57.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Alberto</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/58.png" title="Pepo">
                    <img class="img-fluid" src="assets/img/nfts/58.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Pepo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/59.png" title="Miguel">
                    <img class="img-fluid" src="assets/img/nfts/59.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Miguel</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/60.png" title="Carlos">
                    <img class="img-fluid" src="assets/img/nfts/60.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">BRONCE</div>
                        <div class="project-name">Carlos</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>