<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="products_body center2">
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/21.png" title="Rodrigo">
                    <img class="img-fluid" src="assets/img/nfts/21.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Rodrigo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/22.png" title="Chema">
                    <img class="img-fluid" src="assets/img/nfts/22.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Chema</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/23.png" title="Sergio">
                    <img class="img-fluid" src="assets/img/nfts/23.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Sergio</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/24.png" title="Jaime">
                    <img class="img-fluid" src="assets/img/nfts/24.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Jaime</MArquee></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/25.png" title="Diego">
                    <img class="img-fluid" src="assets/img/nfts/25.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Diego</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/26.png" title="Marcelo">
                    <img class="img-fluid" src="assets/img/nfts/26.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Marcelo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/27.png" title="Alberto">
                    <img class="img-fluid" src="assets/img/nfts/27.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Alberto</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/28.png" title="Pepo">
                    <img class="img-fluid" src="assets/img/nfts/28.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Pepo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/29.png" title="Miguel">
                    <img class="img-fluid" src="assets/img/nfts/29.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Miguel</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/30.png" title="Carlos">
                    <img class="img-fluid" src="assets/img/nfts/30.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Carlos</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/31.png" title="Rodrigo">
                    <img class="img-fluid" src="assets/img/nfts/31.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Rodrigo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/32.png" title="Chema">
                    <img class="img-fluid" src="assets/img/nfts/32.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Chema</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/33.png" title="Sergio">
                    <img class="img-fluid" src="assets/img/nfts/33.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Sergio</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/34.png" title="Jaime">
                    <img class="img-fluid" src="assets/img/nfts/34.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Jaime</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/35.png" title="Diego">
                    <img class="img-fluid" src="assets/img/nfts/35.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Diego</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/36.png" title="Marcelo">
                    <img class="img-fluid" src="assets/img/nfts/36.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Marcelo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/37.png" title="Alberto">
                    <img class="img-fluid" src="assets/img/nfts/37.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Alberto</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/38.png" title="Pepo">
                    <img class="img-fluid" src="assets/img/nfts/38.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Pepo</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/39.png" title="Miguel">
                    <img class="img-fluid" src="assets/img/nfts/39.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Miguel</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a class="portfolio-box" href="assets/img/nfts/40.png" title="Carlos">
                    <img class="img-fluid" src="assets/img/nfts/40.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">PLATA</div>
                        <div class="project-name">Carlos</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>